{:web-server        #profile {:dev {:port 8080}}
 :datomic-blueprint #profile {:dev {:uri "datomic:mem://obs-dev"}}
 :datastore         #profile {:dev {:kind :datomic}}
 :signer            #profile {:dev {:kind   :sha
                                    :size   521
                                    :secret "mysecretword"}}
 :logger            #profile {:dev {:kind  :println
                                    :level :info}}
 :app               #profile {:dev {:allowed-origins      ["^*"]
                                    :auth-token-duration  1
                                    :reset-token-duration 1}}}
